<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/libraries/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/error/stylesheets/style.css">
</head>
<body>
    <div class="vc-container">
        <h1 class="vc-heading">500</h1>
        <p class="vc-subheading">Có lỗi xảy ra chúng tôi đang cố gắng khắc phục sự cố</p>
    </div>
</body>
</html>
