*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.vc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: radial-gradient(circle, #4d7bca, #2b4b80);
  color: #fff;
}

.vc-heading {
  margin: 0 0 10px;
  font-size: 8em;
  text-shadow: 0px 1px 4px #393333;
  font-weight: 700;
}

.vc-subheading {
  margin: 0 0 30px;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.vc-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vc-search-input,
.vc-search-button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  outline: none;
}

.vc-search-input {
  font-weight: 300;
  border-right: none;
  line-height: 1.5;
  letter-spacing: 1px;
  width: 250px;
  &::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    color: #fff;
  }

  &::-ms-input-placeholder {
    color: #fff;
  }
}

.vc-search-button {
  cursor: pointer;
  border-left: none;
}
