<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/libraries/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/error/stylesheets/style.css">
</head>
<body>
    <div class="vc-container">
        <h1 class="vc-heading">404</h1>
        <p class="vc-subheading">Tài nguyên bạn truy cập không tồn tại</p>
        <form class="vc-search-container" action="/search">
            <input name="q" class="vc-search-input" type="search" placeholder="Tìm kiếm nội dung khác" autofocus>
            <button type="submit" class="vc-search-button fa fa-search"></button>
        </form>
    </div>
</body>
</html>
