.btn-gradient-border {
    background: linear-gradient(#fff,#fff) padding-box, /*this is your #2d89ef background*/ linear-gradient(to right, #2d89ef, #fb3570) border-box;
    font-weight: bold;
    text-transform: uppercase;
}